<!DOCTYPE html>
<html>
  <head>
    <title>Railsprojectmodeapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- CATEGORY NAVBAR -->
    <nav>
      <div class="nav-wrapper grey">
        <div class="left">
          <% Category.all.each do |cate| %>
          <strong style="padding: 0px 5px 0px 5px; font-size:10px;"><%= link_to cate.name, category_path(cate) %></strong>
          <% end %>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-light bg-primary mb-4">
      <%= link_to "HOME", root_path, class: 'btn bg-primary text-light'%>
      <% if logged_in? %>
        <%= link_to "MY PROFILE", user_path(current_user), class: 'btn bg-primary text-light'%>
        <%= link_to "LOG OUT", logout_path, method: :delete, class: 'btn bg-primary text-light'%>
        <%= link_to "NEW POST", new_post_path, class: 'btn bg-primary text-light' %>
      <%else %>
        <%= link_to "SIGN UP", new_user_path, class: 'btn bg-primary text-light'%>

      <%end%>
    </nav>



    <div class="container">
      <div class="row">

        <!-- MAIN PAGE BODY -->
        <div class="col-md-9">
            <%= yield %>
        </div>

        <!-- SIDE BAR BODY -->
        <div class="col-md-3 border">

          <!-- USER INFO OR LOGIN -->
          <% if logged_in? %>
            <%= render 'users/small_show', locals: {user: @user = current_user} %>
          <% else %>
            <div class="row border bg-light py-3">
              <div class="col">
                <%= render template: 'sessions/new' %>
              </div>
            </div>
          <% end %>

          <!-- CATEGORY DESCRIPTION -->
          <h3>About This Category</h3>
          <% Category.all.each do |category| %>
            <% if current_page?(category_path(category)) %>
              <h4><%=category.description%></h4>
            <% end %>
          <% end %>

          <% Post.all.each do |post| %>
            <% if current_page?(post_path(post)) %>

              <h4><%=post.category.description %></h4>
            <% end %>
          <% end %>


        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <nav class="navbar navbar-light bg-primary">

        <%= link_to "ANALYTICS", analytics_path, class: 'btn bg-primary text-light'%>

    </nav>

  </body>
</html>
