<!DOCTYPE html>
<html>
  <head>
    <title>Railsprojectmodeapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- CATEGORY NAVBAR -->
    <nav>
      <div class="nav-wrapper grey">
        <div class="left">
          <% Category.all.each do |cate| %>
          <strong style="padding: 0px 5px 0px 5px; font-size:10px;"><%= link_to cate.name, category_path(cate) %></strong>
          <% end %>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-light bg-primary mb-4">
      <%= link_to "HOME", root_path, class: 'btn bg-primary text-light'%>
      <% if logged_in? %>
        <%= link_to "NEW POST", new_post_path, class: 'btn bg-primary text-light' %>
      <%else %>
        <%= link_to "SIGN UP", new_user_path, class: 'btn bg-primary text-light'%>

      <%end%>
    </nav>


    <nav class="navbar navbar-light bg-primary mb-4">
      <%  if logged_in? %>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Categories
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%if current_user.categories.length > 0%>
              <% current_user.categories.each do |cat| %>
                <a class="dropdown-item" href="<%=category_path(cat)%>"><%= cat.name%></a>
              <%end%>
            <%else%>
              <a class="dropdown-item" href="#">[You Have No Liked Categories]</a>
            <%end%>
          </div>
        </div>


      <%end%>

    </nav>



    <div class="container">
      <div class="row">

        <!-- MAIN PAGE BODY START -->
        <div class="col-md-9">
            <%= yield %>
        </div>

        <!-- SIDE BAR BODY -->
        <div class="col-md-3 px-3">
          <div class="border px-3">
          <!-- USER INFO OR LOGIN -->
          <div class="row">
            <div class="col py-3">

              <% if logged_in? %>
                <%= render 'users/small_show', locals: {user: @user = current_user} %>
              <% else %>
                <div class="row border bg-light">
                  <div class="col py-3">
                    <%= render template: 'sessions/new' %>
                  </div>
                </div>
              <% end %>

            </div>
          </div>


          <!-- CATEGORY DESCRIPTION -->

            <!-- CATEGORY PAGE -->
            <% Category.all.each do |category| %>
              <% if current_page?(category_path(category)) %>
                <div class="row border border-left-0 border-right-0 border-bottom-0 py-3 mb-3">
                  <div class="col">
                    <%= render 'categories/small_show', locals: {category: @category = category} %>
                  </div>
                </div>
              <% end %>
            <% end %>


            <!-- POST PAGE -->
            <% Post.all.each do |post| %>
              <% if current_page?(post_path(post)) %>

              <!-- POST INFO -->
              <div class="row border border-left-0 border-right-0 py-3">
                <div class="col">
                  <%= render 'posts/small_show', locals: {post: @post = post} %>
                </div>
              </div>

              <!-- POST CATEGORY INFO -->
              <div class="row border border-left-0 border-right-0 border-top-0 border-bottom-0 py-3 mb-3">
                <div class="col">
                  <%= render 'categories/small_show', locals: {category: @category = post.category} %>
                </div>
              </div>
              <% end %>
            <% end %>


        </div>
        </div>
      </div>
    </div>
    <!-- MAIN PAGE BODY END -->

    <!-- FOOTER -->
    <nav class="navbar navbar-light bg-primary">

        <%= link_to "ANALYTICS", analytics_path, class: 'btn bg-primary text-light'%>

    </nav>

  </body>
</html>
