<!DOCTYPE html>
<html>
  <head>
    <title>Railsprojectmodeapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-primary">
      <%= link_to "HOME", categories_path, class: 'btn bg-primary text-light'%>
      <% if logged_in? %>
        <%= link_to "MY PROFILE", user_path(current_user), class: 'btn bg-primary text-light'%>
        <%= link_to "LOG OUT", logout_path, method: :delete, class: 'btn bg-primary text-light'%>
        <%= link_to "NEW POST", new_post_path, class: 'btn bg-primary text-light' %>
      <%else %>
        <%= link_to "SIGN UP", new_user_path, class: 'btn bg-primary text-light'%>

      <%end%>
    </nav>

    <nav>

      <div class="nav-wrapper grey">
        <div class="left">
          <% Category.all.each do |cate| %>
            <strong style="padding: 0px 5px 0px 5px; font-size:10px;"><%= link_to cate.name, category_path(cate) %></strong>
          <% end %>
        </div>
      </div>
    </nav>


    <div class="container">
      <div class="row">
        <div class="col-md-9">
            <%= yield %>
        </div>
        <div class="col-md-3">
          <% if logged_in? %>
            <%= render 'users/small_show', locals: {user: @user = current_user} %>
          <% else %>
          <div class="bg-secondary">
            <%= render template: 'sessions/new' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </body>
</html>
