<!DOCTYPE html>
<html>
  <head>
    <title>Railsprojectmodeapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper grey darken-1">
        <a href="#" class="brand-logo center">EXPLORE YOUR HISTORY</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to "HOME", categories_path%></li>


          <% if logged_in? %>
            <li><%= link_to "MY PROFILE", user_path(current_user)%></li>
            <li><%= link_to "LOG OUT", logout_path, method: :delete%></li>
            <li><%= link_to "NEW POST", new_post_path %></li>
          <%else %>
            <li><%= link_to "SIGN UP", new_user_path%></li>
            <li><%= link_to "LOG IN", login_path%></li>
          <%end%>

        </ul>
      </div>
    </nav>

    <nav>

      <div class="nav-wrapper grey">
        <div class="left">
          <% Category.all.each do |cate| %>
            <strong style="padding: 0px 5px 0px 5px; font-size:10px;"><%= link_to cate.name, category_path(cate) %></strong>
          <% end %>
        </div>
      </div>
    </nav>


    <div class="container">

      <%= yield %>
    </div>
  </body>
</html>
