<% if flash[:error] %><br>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<%= User.all.sample.username %>

<%= form_tag sessions_path do %>
  <div class="row">
    <div class="col-md">
      <%= text_field_tag :username, nil, placeholder: "Username", class: 'form-control', required: true %>
      <%= password_field_tag :password, nil, placeholder: "Password", class: 'form-control', required: true %>
      <%= submit_tag "Login", class: 'btn-block bg-primary text-light' %>
    </div>
  </div>
<%end%>
