<h2 class="btn bg-primary">Create New Post</h2>

<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<%= form_for @post do |f|%>
  <%=f.text_field :content, placeholder: "Content"%><br>
  <%=f.password_field :post_type, placeholder: "Text or URL?"%><br>
  <%=f.password_field :title, placeholder: "Title"%><br>
  <%=f.text_field :link, placeholder: "Link"%><br>
  <div class="input-field ">
    HELLO
    <%=  f.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <%=f.submit%>
<%end%>

<!-- Dropdown Trigger -->
<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
  <li><a href="/posts">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

<!--
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Content" id="content" type="text" class="validate">
          <label for="content">Content</label>
        </div>

        <div class="input-field col s6">
          <input placeholder="Title" id="title" type="text" class="validate">
          <label for="title">Title</label>
        </div>

      </div>


      <div class="row">
        <div class="input-field col s6">
          <input id="post_type" type="text" class="validate">
          <label for="post_type">Text or URL?</label>
        </div>

        <div class="input-field col s6">
          <input id="link" type="text" class="validate">
          <label for="link">Link</label>
        </div>

      </div>

      <div class="input-field col s12">
          <select>

            <%= @categories.each do |cat| %>
              <option value="" disabled selected>Choose your option</option>
              <option value="<%= cat.id%>"><%=cat.name%></option>
            <%end%>
          </select>

          <label>Choose Category</label>
        </div>

    </form>
  </div> -->
