<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<!-- NEW TEXT FORM -->
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <strong>Create a text post</strong>
    </div>
    <div class="card-text">
      <%= form_for @post do |f|%>
        <div class="form-group">
          <%= f.text_field :title, placeholder: "Title", class: 'form-control', required: true%>
        </div>
        <%= f.text_area :content, placeholder: "Content", rows: 7, class: 'form-control mb-3'%>

        <%= f.text_field :category, placeholder:"Category", id: 'moo', class: 'form-control mb-3', list: 'cata-list' %>
          <datalist id="cata-list">
            <% Category.all.each do |cata| %>
              <option value="<%= cata.name %>"></option>
            <% end %>
          </datalist>

          <%= f.hidden_field :post_type, value: "text" %>
          <%= f.hidden_field :user_id, value: current_user.id %>
        <%=f.submit "Submit Post", class: 'btn-block bg-light'%>
      <%end%>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md text-center">
    <strong>OR</strong>
  </div>
</div>

<br>

<!-- NEW URL FORM -->
<div class="card mb-4">
  <div class="card-body">
    <div class="card-title">
      <strong>Create a link post</strong>
    </div>
    <div class="card-text">
      <%= form_for @post do |f|%>
        <div class="form-group">
          <%= f.text_field :title, placeholder: "Title", class: 'form-control', required: true%>
        </div>
        <div class="form-group">
          <%= f.text_field :link, placeholder: "URL", class: 'form-control', required: true%>
        </div>

        <%= f.text_field :category, placeholder:"Category", class: 'form-control mb-3', list: 'cata-list' %>
          <datalist id="cata-list">
            <% Category.all.each do |cata| %>
              <option value="<%= cata.id %>"></option>
            <% end %>
          </datalist>

          <%= f.hidden_field :post_type, value: "url" %>
          <%= f.hidden_field :user_id, value: current_user.id %>
        <%=f.submit "Submit Post", class: 'btn-block bg-light'%>
      <%end%>
    </div>
  </div>
</div>
