<% if @post.category.market %>

<%= render 'show_market', locals: {post: @post, user: @post.user} %>


<% else %>


<%= @post.title %><br><br>
<%= @post.content %><br>
<%= @post.likes.count %> likes<br>

<% if logged_in? %>
  <% if !@post.likes.any? {|like| like.user == current_user } %>
    <%= button_to "Like", {controller: "likes", action: "create", post_id: @post.id, user_id: current_user.id} %>
  <% else %>
    <%= button_to "Unlike", {controller: "likes", action: "destroy", post_id: @post.id, user_id: current_user.id}, method: 'delete' %>
  <% end %>
<% end %>


<a href="<%= @post.link %>"><%= @post.link %></a>
<br>
<%= link_to @post.user.username, user_path(@post.user)%><br>
<%= link_to @post.category.name, category_path(@post.category)%>

<br><br>

<% if logged_in? %>
  <%= render file: 'comments/new', locals: {post_id: @post.id} %>
<% else %>
  <h5>Please login or signup to comment</h5>
<% end %>

<% @post.comments.reverse.each do |comm| %>
  <strong><%= link_to comm.user.username, user_path(comm.user) %></strong> <%= comm.created_at %><br>
  <%= comm.content %>
  <br><br>

  <% if comm.user == current_user %>
    <%= link_to "Edit", edit_comment_path(comm) %>
    <%= link_to "Delete", comment_path(comm), method: 'delete' %>
    <br><br>
  <% end %>

<% end %>

<% end %>
