<h1><%= @category.name %></h1>
<%if logged_in? && current_user.admin == true%>
  <%= button_to "Delete Category", {controller: "categories", action: "destroy", category_id: @category.id}, method: 'delete' %>

<% elsif logged_in? && !current_user.mod_categories.any? {|x| x.category_id == @category.id }%>

    <%= button_to "Request Mod Status", {controller: "mod_categories", action: "create", category_id: @category.id, user_id: current_user.id} %>

<% end %>


<% if !@category.market %>


  <% @posts.each do |post| %>
    <b><%=link_to post.title, post_path(post)%> <%= post.post_time %></b><br>
    <%=post.content%><br><br>
  <%end%>



<% else %>

  <!-- SART PROCESS -->
  <% @posts.each_slice(2).map do |posts| %>
  <div class="row">

      <!-- ROW 1 -->
      <% posts.each_with_index do |post,i| %>
        <% if i == 0 %>
          <div class="col-md-6">
            <div class="card mb-3">
              <h4 class="card-title"><%= link_to post.title, post_path(post) %></h4>
              <h6 class="card-subtitle mb-2 text-muted">$100</h6>
              <p class="card-text border"><%= post.summary %></p>
            </div>
          </div>
        <% end %>
      <% end %>

      <!-- ROW 2 -->
      <% posts.each_with_index do |post,i| %>
        <% if i == 1 %>
          <div class="col-md-6">
            <div class="card mb-3">
              <h4 class="card-title"><%= link_to post.title, post_path(post) %></h4>
              <h6 class="card-subtitle mb-2 text-muted">$100</h6>
              <p class="card-text border"><%= post.summary %></p>
            </div>
          </div>
        <% end %>
      <% end %>

      <!-- ROW 3 -->
      <% posts.each_with_index do |post,i| %>
        <% if i == 2 %>
          <div class="col-md-4">
            <div class="card mb-3">
              <h4 class="card-title"><%= link_to post.title, post_path(post) %></h4>
              <h6 class="card-subtitle mb-2 text-muted">$100</h6>
              <p class="card-text border"><%= post.summary %></p>
            </div>
          </div>
        <% end %>
      <% end %>


  </div>
  <% end %>


<% end %>



<div class="row">
  <% @category.page_counter.each_with_index do |posts, i| %>
  <% if !posts.empty? %>
  <div class="col s1">
    <%= button_to "#{i+1}", category_path(@category),
    method: 'get',
    params: {page_num: "#{(i+1)*10}"},
    class: 'btn-flat blue'
      %>
    </div>
    <% end %>
    <% end %>
  </div>
