

<%= form_for @user do |f|%>
  <div class="row">
    <div class="col-md-10 offset-1">
      <%=f.text_field :username, placeholder: "Username", class: 'form-control' %><br>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-5 offset-1">
      <%=f.password_field :password, placeholder: "Password", class: 'form-control' %>
    </div>
    <div class="col-md-5">
      <%=f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-1">
      <%=f.text_field :email, placeholder: "Email", class: 'form-control' %><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-1">
      <%=f.date_field :birth_date, placeholder: "D.O.B.", class: 'form-control' %><br>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-10 offset-1">
      <%=f.submit "Create Account", class: "btn-block bg-light form-control"%>
    </div>
  </div>
<%end%>
