<% if @user == current_user %>
  <h5><%=@user.username%></h5>
  <%= "total score: #{@user.total_score}" %><br>
  <%= "unique score: #{@user.uniq_score}" %><br>
  <%= link_to "Go to Profile", user_path(@user) %> |
  <%= link_to "Log out", logout_path %>
<% end %>
