
<% if current_user.admin == true %>
  <h2>Change mod status</h2>

  <%= form_for @user do |f|%>

  <%= f.radio_button(:moderator, true) %>
  <%= f.label(:moderator, "Moderator") %>
  <%= f.radio_button(:moderator, false) %>
  <%= f.label(:moderator, "Regular User") %>

    <%=f.submit%>
  <%end %>

<%else%>

<h2>Edit Your Account</h2>
<%= form_for @user do |f|%>

  <%= f.select :image, options_for_select(["armadillo","axolotl","anteater","alligator"]) %><br>

  <%= f.select :color, options_for_select(["blue","red","yellow","green"]) %><br>

  <%=f.text_field :username, placeholder: "Username"%><br>

  <%=f.password_field :password, placeholder: "Password"%><br>

  <%=f.text_field :email, placeholder: "Email"%><br>

  <%=f.date_field :birth_date%><br>

  <%=f.submit%>

<%end%>
<%end%>
