<div class="row">
  <div class="col-md-9 offset-2 text-center">

  <h1><%=@user.username%></h1>
    <% if @user.admin == true%>
       <h3>admin</h3>
    <%elsif @user.moderator == true%>
        <h3>mod of:
        <% @user.moderated_categories.each do |mod|%>
          <%= link_to mod.category.name, category_path(mod.category.id)%>
        <%end%>
        </h3>
    <%end%>


  <!-- BUTTON TO EDIT A USER -->

  <% if logged_in? && current_user.admin == true && !current_page?(user_path(current_user)) %>
    <%= button_to "Change Mod Status", edit_user_path(@user), method: 'get' %>
  <%end%>


<% if @user == current_user %>
  <h4>Birthday: <%=@user.birth_date.strftime("%b %e, %Y")%></h4>
  <h4>Email: <%=@user.email%></h4>
<% end %>
<br>
<div class="row">
    <div class="col-md-1.5">
    <%= button_to "Posts", user_path(@user), params: {show_type: "posts"}, method: 'get', class: 'btn bg-white border ml-3' %>
    </div>

    <div class="col-md-1.5">
    <%= button_to "Market Posts", user_path(@user), params: {show_type: "market"}, method: 'get', class: 'btn bg-white border ml-3' %>
    </div>

    <div class="col-md-1.5">
    <%= button_to "Likes", user_path(@user), params: {show_type: "likes"}, method: 'get', class: 'btn bg-white border ml-3' %>
    </div>

    <div class="col-md-1.5">
    <%= button_to "Comments", user_path(@user), params: {show_type: "comments"}, method: 'get', class: 'btn bg-white border ml-3' %>
    </div>

    <% if @user == current_user %>
      <%= button_to "Edit Account", edit_user_path(@user), method: 'get', class: 'btn bg-white border ml-3' %>
      <%= button_to "My Analytics", analytic_path, method: 'get', class: 'btn bg-white border ml-3' %>
    <%end%>
</div>

<% if @type == "posts" %>
  <h5>POSTS</h5>
  <% @posts.reverse.each do |post| %>
    <%=link_to post.title, post_path(post)%> <%= post.post_time %><br>
    <%=link_to post.category.name, category_path(post.category)%>
    <br><br>
  <%end%>
<% end %>

<% if @type == "market" %>
  <h5>SELLING</h5>
  <% @market_posts.each do |post| %>
    <%= render file: 'posts/show', locals: {post: @post = post} %>
    <br><br>
  <%end%>
<% end %>

<% if @type == "likes" %>
<h5>LIKES</h5>
  <% @user.likes.each do |like| %>
    <%= link_to like.post.title, post_path(like.post) %><br>
  <% end %>
<% end %>

<% if @type == "comments" %>
  <h5>COMMENTS</h5>
  <% @comments.each do |comment| %>
    <%=link_to comment.post.title, post_path(comment.post)%><br>
    <%= comment.content %><br><br>
  <%end%>
<% end %>
</div>
</div>
